@media only screen and (max-width: 992px) {
  /* .beer-name {
    font-size: 1.25rem;
  }
  .beer-style,
  .beer-abv,
  .beer-ibu,
  .beer-brewery {
    font-size: 1.25rem;
  }
  .ticker-wrapper {
    height: 7vh;
  }
  .ticker-item {
    font-size: 3rem;
  } */
}
