{% extends 'layout.html' %}

{% block body %}
  <h1>Account</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <div class="flex justify-content-between row media">
    <div class="col-6">
      <!-- <img src={{ image_file }} alt="" class="rounded-circle account-img"> -->
      <img src={{ image_file }} alt="" class="account-img">
      <!-- <div class="media-body">
        <h2 class="account-heading">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
      </div> -->
    </div>

    <div class="content-section col-6">
      <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <legend class="border-bottom mb-4">Account Info</legend>
        <fieldset class="form-group">
          <div class="form-group">
            {{render_field(form.name, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.venuename, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.email, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.username, class_="form-control")}}
          </div>
          <div class="form-group">
            {{ form.picture.label() }}
            {{ form.picture(class="form-control-file") }}
            {% if form.picture.errors %}
              {% for error in form.picture.errors %}
                <span class="text-danger">{{ error }}</span><br>
              {% endfor %}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info")}}
        </div>
        <div class="form-group">
          <small class="text-muted">
            <a class="btn btn-outline-info" href="{{ url_for('users.change_password') }}">Change Password?</a>
          </small>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
