{% extends 'layout_NoMenu.html' %}

{% block body %}
<div id="user-id-{{ currentUserId }}" class="user-id-screen-display full-page">
  <div class="wrapper">
    <div class="row justify-content-center">
      <div class="row">
        <div class="col-12">
          <!-- <h2>Beer List</h2> -->
        </div>
      </div>
    </div>
    <div id="screen-display" class="container-fluid">


      <div class="row mt-1">
        <div class="col-6 beerlist-col">
            <ul id="" class="list-group mx-2">


              {% for beer in beerlistFirstHalf %}
                <li class="list-group-item card-beerscreen-display background">
                  <table class="beerscreen-display-table">
                    <tr class="">
                      <td class="font-weight-bold font-italic txt-clr-ylw pl-2 pt-1" colspan="3"><span class="beer-name">{{beer.name}}</span></td>
                    </tr>
                    <tr class="">
                      <td class="beerscreen-table-td-30 font-weight-bold pl-2"><span class="beer-style">{{beer.style}}</span></td>
                      <td class="beerscreen-table-td-20 font-weight-bold"><span class="font-xxsml"></span><span class="beer-abv">{{beer.abv}}</span><span class="">%</span></td>
                      <td class="beerscreen-table-td-50 font-weight-bold font-italic"><span class="beer-brewery">{{beer.brewery}}</span></td>
                    </tr>
                  </table>
                </li>
              {% endfor %}
            </ul>
        </div>

        <div class="col-6 beerlist-col">
            <ul id="" class="list-group mr-2">



              {% for beer in beerlistFirstHalf %}
                <li class="list-group-item card-beerscreen-display background">
                  <table class="beerscreen-display-table">
                    <tr class="">
                      <td class="font-weight-bold font-italic txt-clr-ylw pl-2 pt-1" colspan="3"><span class="beer-name">{{beer.name}}</span></td>
                    </tr>
                    <tr class="">
                      <td class="beerscreen-table-td-30 font-weight-bold pl-2"><span class="beer-style">{{beer.style}}</span></td>
                      <td class="beerscreen-table-td-20 font-weight-bold"><span class="font-xxsml"></span><span class="beer-abv">{{beer.abv}}</span><span class="">%</span></td>
                      <td class="beerscreen-table-td-50 font-weight-bold font-italic"><span class="beer-brewery">{{beer.brewery}}</span></td>
                    </tr>
                  </table>
                </li>
              {% endfor %}
            </ul>
        </div>

      </div>
    </div>
  </div>
  <!-- ***************************************** -->
  <!-- START Ticker -->
  <!-- ***************************************** -->
  <div class="ticker-wrapper background">

    <div class="ticker d-flex align-items-center move-left">
      <ul class="list-group ticker-items list-group-inline ml-3">


          {% if beerlistBom %}
          <li class="list-group-inline align-middle font-weight-bold ticker-item txt-clr-grn-shdw spacing-sml"><span class="ticker-text">Beer 'O the Month:</span></li>
          {% endif %}

          {% for beer in beerlistBom %}
          <li class="list-group-inline align-middle font-weight-bold font-italic ticker-item left-spacer txt-clr-ylw card-img"><span class="beer-name">{{ beer.name }}</span></li>
          {% endfor %}

          {% if beerlistCs %}
          <li class="list-group-inline align-middle font-weight-bold ticker-item left-spacer txt-clr-grn-shdw spacing-sml"><span class="ticker-text">Tapping Soon:</span></li>
          {% endif %}

          {% for beer in beerlistCs %}
          <li class="list-group-inline align-middle font-weight-bold font-italic ticker-item txt-clr-ylw card-img"><span class="beer-name">{{ beer.name }}</span></li>
          {% endfor %}

          {% if tickerText %}
          <li class="list-group-inline align-middle font-weight-bold ticker-item txt-clr-grn-shdw left-spacer spacing-sml"><span class="ticker-text">Shamrock News:</span></li>
          <li class="list-group-inline align-middle font-weight-bold font-italic ticker-item txt-clr-ylw left-spacer card-img"><span class="ticker-news">{{ tickerText }}</span></li>
          {% endif %}

      </ul>
    </div>

  </div>

  <!-- ***************************************** -->
  <!-- END Ticker -->
  <!-- ***************************************** -->

</div>
{% endblock %}
