{% extends 'layout.html' %}
{% block body %}
  <h1>{{ legend }}</h1>
  <hr>
  {% from "includes/_formhelpers.html" import render_field %}
  <form id="add_drink_price_form" name="add_drink_price_form" action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ render_field(form.drinkPriceText, class_="form-control") }}
    </div>
    <button id="submit_settings_btn" name="submit_settings_btn" type="submit" class="btn btn-sm btn-outline-primary">Save Price</button>
    <hr>
  </form>
  <div class="form-group">
    {{ render_field(form.drinkPriceSelect, class_="form-control") }}
  </div>
  <div>
    <button id="drink_price_delete_btn" name="drink_price_delete_btn" type="click" class="btn btn-sm btn-outline-danger">Delete Price</button>
  </div>
{% endblock %}
