{% extends 'layout.html' %}
{% block body %}
  <h1>{{ legend }}</h1>
  <hr>
  {% from "includes/_formhelpers.html" import render_field %}
  <form id="add_drink_size_form" name="add_drink_size_form" action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ render_field(form.drinkSizeText, class_="form-control") }}
    </div>
    <button id="submit_settings_btn" name="submit_settings_btn" type="submit" class="btn btn-sm btn-outline-primary">Save Size</button>
    <hr>
  </form>
  <div class="form-group">
    {{ render_field(form.drinkSizeSelect, class_="form-control") }}
  </div>
  <div>
    <button id="drink_size_delete_btn" name="drink_size_delete_btn" type="click" class="btn btn-sm btn-outline-danger">Delete Size</button>
  </div>
{% endblock %}
