{% extends 'layout.html' %}
{% block body %}
  <h1>Settings</h1>
  <hr>
  {% from "includes/_formhelpers.html" import render_field %}
  <form id="settings-form" name="settings-form" method="POST" action="#" onsubmit="">
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="col-3">
            <div class="form-group">
              <!-- <label for="numberOfScreens">Number Of Screens:</label>
              <input id="numberOfScreens" class="form-control" name="numberOfScreens" type="color" value="{{ settings.numberOfScreens }}"> -->
              {{ render_field(form.numberOfScreens, class_="form-control") }}
            </div>
      </div>
      <div class="col-3">
            <div class="form-group">
              <!-- <label for="beerscreenSettingsId">Screen Number Settings:</label>
              <input id="beerscreenSettingsId" class="form-control" name="beerscreenSettingsId" type="color" value="{{ settings.beerscreenSettingsId }}"> -->
              {{ render_field(form.beerscreenSettingsId, class_="form-control") }}
            </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
            <div class="form-group">
              <label for="fontColorOne">Font Color One:</label>
              <input id="fontColorOne" class="form-control" name="fontColorOne" type="color" value="{{ settings.fontColorOne }}">
              {{ render_field(form.fontColorOne, class_="form-control", disabled=true) }}
            </div>
      </div>
      <div class="col-3">
            <div class="form-group">
              <label for="fontColorTwo">Font Color Two:</label>
              <input id="fontColorTwo" class="form-control" name="fontColorTwo" type="color" value="{{ settings.fontColorTwo }}">
              {{ render_field(form.fontColorTwo, class_="form-control", disabled=true) }}
            </div>
      </div>
      <div class="col-3">
            <div class="form-group">
              <label for="fontColorThree">Font Color Three:</label>
              <input id="fontColorThree" class="form-control" name="fontColorThree" type="color" value="{{ settings.fontColorThree }}">
              {{ render_field(form.fontColorThree, class_="form-control", disabled=true) }}
            </div>
      </div>
      <div class="col-3">
            <div class="form-group">
              <!-- <label for="fontColorDirection">Font Color Direction:</label>
              <input id="fontColorDirection" class="form-control" name="fontColorDirection" type="color" value="{{ settings.fontColorDirection }}"> -->
              {{ render_field(form.fontColorDirection, class_="form-control") }}
            </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
            <div class="form-group">
              <label for="shadowFontColorOne">Shadow Font Color One:</label>
              <input id="shadowFontColorOne" class="form-control" name="shadowFontColorOne" type="color" value="{{ settings.shadowFontColorOne }}">
              {{ render_field(form.shadowFontColorOne, class_="form-control", disabled=true) }}
            </div>
      </div>
      <div class="col-3">
            <div class="form-group">
              <label for="shadowFontColorTwo">Shadow Font Color Two:</label>
              <input id="shadowFontColorTwo" class="form-control" name="shadowFontColorTwo" type="color" value="{{ settings.shadowFontColorTwo }}">
              {{ render_field(form.shadowFontColorTwo, class_="form-control", disabled=true) }}
            </div>
      </div>
      <div class="col-3">
            <div class="form-group">
              <label for="shadowFontColorThree">Shadow Font Color Three:</label>
              <input id="shadowFontColorThree" class="form-control" name="shadowFontColorThree" type="color" value="{{ settings.shadowFontColorThree }}">
              {{ render_field(form.shadowFontColorThree, class_="form-control", disabled=true) }}
            </div>
      </div>
      <div class="col-3">
            <div class="form-group">
              <!-- <label for="shadowFontColorDirection">Shadow Font Color Direction:</label>
              <input id="shadowFontColorDirection" class="form-control" name="shadowFontColorDirection" type="color" value="{{ settings.shadowFontColorDirection }}"> -->
              {{ render_field(form.shadowFontColorDirection, class_="form-control") }}
            </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
            <div class="form-group">
              <label for="backgroundColorOne">Background Color One:</label>
              <input id="backgroundColorOne" class="form-control" name="backgroundColorOne" type="color" value="{{ settings.backgroundColorOne }}">
              {{ render_field(form.backgroundColorOne, class_="form-control", disabled=true) }}
            </div>
      </div>
      <div class="col-3">
            <div class="form-group">
              <label for="backgroundColorTwo">Background Color Two:</label>
              <input id="backgroundColorTwo" class="form-control" name="backgroundColorTwo" type="color" value="{{ settings.backgroundColorTwo }}">
              {{ render_field(form.backgroundColorTwo, class_="form-control", disabled=true) }}
            </div>
      </div>
      <div class="col-3">
            <div class="form-group">
              <label for="backgroundColorThree">Background Color Three:</label>
              <input id="backgroundColorThree" class="form-control" name="backgroundColorThree" type="color" value="{{ settings.backgroundColorThree }}">
              {{ render_field(form.backgroundColorThree, class_="form-control", disabled=true) }}
            </div>
      </div>
      <div class="col-3">
            <div class="form-group">
              <!-- <label for="backgroundColorDirection">Background Color Direction:</label>
              <input id="backgroundColorDirection" class="form-control" name="backgroundColorDirection" type="color" value="{{ settings.backgroundColorDirection }}"> -->
              {{ render_field(form.backgroundColorDirection, class_="form-control") }}
            </div>
      </div>
    </div>


    <div class="row">
      <div class="col-3">
            <div class="form-group">
              <label for="nameFontColor">Name Font Color:</label>
              <input id="nameFontColor" class="form-control" name="nameFontColor" type="color" value="{{ settings.nameFontColor }}">
              {{ render_field(form.nameFontColor, class_="form-control", disabled=true) }}
            </div>
      </div>
      <div class="col-3">
            <div class="form-group">
              <label for="styleFontColor">Style Font Color:</label>
              <input id="styleFontColor" class="form-control" name="styleFontColor" type="color" value="{{ settings.styleFontColor }}">
              {{ render_field(form.styleFontColor, class_="form-control", disabled=true) }}
            </div>
      </div>
      <div class="col-3">
            <div class="form-group">
              <label for="abvFontColor">ABV Font Color:</label>
              <input id="abvFontColor" class="form-control" name="abvFontColor" type="color" value="{{ settings.abvFontColor }}">
              {{ render_field(form.abvFontColor, class_="form-control", disabled=true) }}
            </div>
      </div>
      <div class="col-3">
            <div class="form-group">
              <label for="ibuFontColor">IBU Font Color:</label>
              <input id="ibuFontColor" class="form-control" name="ibuFontColor" type="color" value="{{ settings.ibuFontColor }}">
              {{ render_field(form.ibuFontColor, class_="form-control", disabled=true) }}
            </div>
      </div>
      <div class="col-3">
            <div class="form-group">
              <label for="breweryFontColor">Brewery Font Color:</label>
              <input id="breweryFontColor" class="form-control" name="breweryFontColor" type="color" value="{{ settings.breweryFontColor }}">
              {{ render_field(form.breweryFontColor, class_="form-control", disabled=true) }}
            </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          {{ render_field(form.nameFontSize, class_="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.styleFontSize, class_="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.abvFontSize, class_="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.ibuFontSize, class_="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.breweryFontSize, class_="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.screenTemplate, class_="form-control") }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        {% if settings.tickerToggle != True %}
          {{ render_field(form.tickerToggle, class_="form-control", checked=False) }}
        {% else %}
          {{ render_field(form.tickerToggle, class_="form-control", checked=True) }}
        {% endif %}
      </div>
      <div class="col-3">
        {{ render_field(form.tickerScrollSpeed, class_="form-control") }}
      </div>
    </div>
    <hr>
    <div class="col-4">
      <!-- <input id="submit-settings-btn" class="btn btn-sm btn-outline-primary" type="click" value="Save Settings"> -->
    </div>
    <div class="col-4">
      <button id="submit-settings-btn" name="submit-settings-btn" type="click" class="btn btn-sm btn-outline-primary">Save Settings</button>
    </div>
  </form>
{% endblock %}
