{% extends 'layout_allItems.html' %}
{% block body %}
<div id="user-id-{{ currentUserId }}" class="user-id-screen-display">
  <div id="winelist-tablet-descriptions" class="container mx-auto">
    {% for wineType in wineTypelist %}
      <!-- BEGIN WINELIST -->
      <div class="row mt-0">
        <div class="row justify-content-center col-12 mx-auto">
          <div class="row justify-content-center col-12 border-bottom">
            <h1 class="mt-0 bold-font text-center">{{ wineType }}</h1>
          </div>
        </div>
        <div id="winelist-menu-descriptions" class="row col-12 justify-content-center mx-auto">
          {% for wine in winelist %}
            {% if wine.type == wineType %}
              <!-- BEGIN CARD -->
              <div class="text-center" style="width: 100%;">
                <div class="">
                  <div class="row mt-3">
                    <div class="col">
                      <div>
                        <h3 class="mb-0"><span class="card-title mb-1 larger-text txt-clr-grn"> {{wine.name}} </span></h3>
                        <span class="card-text mb-1 italic-font bold-font font-sml"> {{wine.varietal}} </span>
                        <span class="card-text mb-1 italic-font font-xsml">( {{wine.location}} )</span>
                      </div>
                      <div>
                        <span class="font-med">Description: </span><span> {{wine.description}} </span>
                      </div>
                      <div>
                        <span class="font-med">Pairs with: </span><span> {{wine.food_pairings}} </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END CARD -->
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <!-- END WINELIST -->
    {% endfor %}
  </div>
</div>
{% endblock %}
