{% extends 'layout_allItems.html' %}
{% block body %}
<div id="user-id-{{ currentUserId }}" class="user-id-screen-display">
  <div class="container full-screen-pp">
    <div class="beer-list-div-pp">
      <ul class="beer-list-loop-pp list-group-flush">
        {% for beer in beers %}
          {% if beer.coming_soon != True %}
            <li class="list-group-item-pp list-group-item">{{beer.id_dropdown}}.  <span class="larger-text txt-clr-grn">{{beer.name}}</span> - <span class="bold-font italic-font">{{beer.style}}</span> - {{beer.abv}}% ABV - {{beer.ibu}} IBU - {{beer.location}} - <span class="italic-font">{{beer.brewery}}</span></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="row">
        <div class="col-12">
          <h4>Try a Delicious Flight of any Three Drafts for $5</h4>
        </div>
      </div>
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="row">
        <div class="col-12">
          <h2>Beer O' The Month</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <p class="month-p-pp">
        {% for beer in beers %}
          {% if beer.beer_of_month == True %}
            <span class="mx-3 larger-text txt-clr-grn">{{beer.name}}</span> - <span class="bold-font italic-font">{{beer.style}}</span>
          {% endif %}
        {% endfor %}
      </p>
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="row">
        <div class="col-12">
          <h2>Coming soon on Tap</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <p id="comingsoon-p-pp">
        {% for beer in beers %}
          {% if beer.coming_soon == True %}
            <span class="mx-4 larger-text txt-clr-grn">{{beer.name}}</span>
          {% endif %}
        {% endfor %}
      </p>
    </div>
  </div>
</div>
{% endblock %}
