{% extends 'layout.html' %}

{% block body %}
  <h1>On Tap Next Editor</h1>
  <div class="row my-3 mx-auto">
    <div class="col-12 my-1">
      <a class="btn btn-sm btn-outline-info" href="{{ url_for('list_history.add_beer') }}"> Add Beer</a>
      <a class="btn btn-sm btn-outline-info" href="{{ url_for('list_history.beersearch') }}">Search Beers</a>
    </div>
    <div class="col-12 my-1">
      <a class="btn btn-sm btn-outline-danger" href="{{ url_for('list_history.beer_dashboard') }}">Beer Dashboard</a>
      <a class="btn btn-sm btn-outline-danger" href="{{ url_for('list_history.edit_beer_list') }}">Beerlist Editor</a>
    </div>
  </div>
  <hr>

  {% from "includes/_formhelpers.html" import  render_field %}
  <div id="user-id-{{ currentUserId }}" class="user-id-on-tap-next-editor">
    <form id="edit-on-tap-next-editor-form" method="POST">
      <div id="on-tap-next-editor">
        <table id="on-tap-next-editor-table" class="beerlist beers table table-striped">
          <tr>
            <th></th>
            <th>On Tap Now</th>
            <td><div></div></td>
            <th>Next to Tap</th>
          </tr>
          {% for x in range(0, beerlistLength) %}
            <tr class="beer">
              <td>{{ loop.index }}</td>
              <td><div class="currentBeer">{{currentBeers[x].name}} {{currentBeers[x].brewery}}</div></td>
              <td><i class="arrow"></i></td>
              <td>
                <!-- <div class="form-group">
                  {% for beer in selectBeerlist %}
                    {% if beer.id == nextBeers[x].id_on_next %}
                      <p class="btn btn-danger">{{ beer.name }}</p>
                    {% else %}
                      <p class="btn btn-warning">{{ beer.name }}</p>
                    {% endif %}
                  {% endfor %}
                </div> -->
                <div class="form-group">
                  <select  id="beer_{{ loop.index }}" class="form-control" name="beer_{{ loop.index }}">
                  {% for beer in selectBeerlist %}
                    {% if beer.id == nextBeers[x].id_on_next %}
                      <option value="{{ beer.id }}" selected>{{ beer.name }}</option>
                    {% else %}
                      <option value="{{ beer.id }}">{{ beer.name }}</option>
                    {% endif %}
                  {% endfor %}
                  </select>
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>
        <div class="row d-flex justify-content-between">
          <div class="col-4">
            <input id="edit-on-tap-next-editor-submit" class="btn btn-sm btn-outline-primary" type="click" value="Submit">
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
