{% extends 'layout.html' %}
{% block body %}
  <h1>Winelist Editor</h1>
  <a href="/add_wine" class="btn btn-sm btn-outline-info">Add Wine</a>
  <a href="/wine_dashboard" class="btn btn-sm btn-outline-danger">Wine Dashboard</a>
  <hr>

  {% from "includes/_formhelpers.html" import render_field %}
  <form id="edit-winelist-form" method="POST" action="#" onsubmit="">
    

    <div>
      <input id="edit-winelist-btn" class="btn btn-sm btn-outline-primary" type="click" value="Submit">
      <a href="/wine_dashboard" class="btn btn-sm btn-outline-danger">Wine Dashboard</a>
    </div>
  </form>
{% endblock %}
