{% extends 'layout.html' %}

{% block body %}
  <h1>Edit Beer List</h1>
  <div class="row my-3 mx-auto">
    <div class="col-12 my-1">
      <a class="btn btn-sm btn-outline-info" href="{{ url_for('list_history.add_beer') }}"> Add Beer</a>
      <a class="btn btn-sm btn-outline-info" href="{{ '/beersearch' }}">Search Beers</a>
    </div>
    <div class="col-12 my-1">
      <a class="btn btn-sm btn-outline-danger" href="{{ url_for('list_history.beer_dashboard') }}">Beer Dashboard</a>
      <a class="btn btn-sm btn-outline-danger" href="{{ '/on_tap_next_editor' }}">On Tap Next Editor</a>
    </div>
  </div>
  <hr>

  <form id="edit-beerlist-form" method="POST" action="#" onsubmit="">




    <div class="row d-flex justify-content-between">
      <div class="col-4">
        <input id="edit-beerlist" class="btn btn-sm btn-outline-primary" type="click" value="Submit">
      </div>
      <div class="col-4">
        <a href="{{ url_for('list_history.beer_dashboard') }}" class="btn btn-sm btn-outline-danger">Beer Dashboard</a>
      </div>
    </div>
  </form>
{% endblock %}
