{% extends 'layout_NoMenu.html' %}

{% block body %}
<div id="user-id-{{ currentUserId }}" class="user-id-screen-display full-page">
  <div class="wrapper">
    <div class="row justify-content-center">
      <div class="row">
        <div class="col-12">
          <!-- <h2>Beer List</h2> -->
        </div>
      </div>
    </div>
    <div id="screen-display" class="container-fluid">
      <div class="row mt-3">
        <div class="col-lg">
          <div class="list-group">
            <ul id="" class="list-group-flush list-group-bts">
              {% for beer in beers0108 %}
                <li class="cardvs background">
                  <table class="beer-screen-table">
                    <tr class="beer-screen-tr">
                      <h1 class="italic-font bold-font txt-clr-ylw left-spacer no-btm-margin"><span class="beer-name">{{beer.name}}</span></h1>
                    </tr>
                    <tr class="left-spacer beer-screen-tr font-sml">
                      <td class="bold-font w-third"><span class="beer-style">{{beer.style}}</span></td>
                      <td class="w-fifth"><span class="font-xxsml"></span><span class="beer-abv">{{beer.abv}}</span><span class="font-xsml">%</span></td>
                      <td class="italic-font bold-font w-third"><span class="beer-brewery">{{beer.brewery}}</span></td>
                    </tr>
                  </table>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-lg">
          <div class="list-group">
            <ul class="list-group-flush list-group-bts">
              {% for beer in beers0816 %}
                <li class="cardvs background">
                  <table class="beer-screen-table">
                    <tr class="beer-screen-tr">
                      <h1 class="italic-font bold-font txt-clr-ylw left-spacer no-btm-margin"><span class="beer-name">{{beer.name}}</span></h1>
                    </tr>
                    <tr class="left-spacer beer-screen-tr font-sml">
                      <td class="bold-font w-third"><span class="beer-style">{{beer.style}}</span></td>
                      <td class="w-fifth"><span class="font-xxsml"></span><span class="beer-abv">{{beer.abv}}</span><span class="font-xsml">%</span></td>
                      <td class="italic-font bold-font w-third"><span class="beer-brewery">{{beer.brewery}}</span></td>
                    </tr>
                  </table>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***************************************** -->
  <!-- START Ticker -->
  <!-- ***************************************** -->
  <div class="row bts-coming-soon background">
    <div class="ticker move-left">
      <ul class="list-bts-coming-soon bold-font">
        <li class="info beer-month txt-clr-grn-shdw spacing-sml">Beer 'O the Month:</li>
        <li class="info info1 card-img txt-clr-ylw beerOfMonth beer-name">{{beers1622[0].name}}</li>
        <li class="info tap-soon txt-clr-grn-shdw spacing-sml">Tapping Soon:</li>
        <li class="info info2 card-img-before txt-clr-ylw beer-name">{{beers1622[1].name}}</li>
        <li class="info info3 card-img-before txt-clr-ylw beer-name">{{beers1622[2].name}}</li>
        <li class="info info4 card-img-before txt-clr-ylw beer-name">{{beers1622[3].name}}</li>
        <li class="info info5 card-img txt-clr-ylw beer-name">{{beers1622[4].name}}</li>
        <li class="info shams-news txt-clr-grn-shdw spacing-sml">Shamrock News:</li>
        <li class="info info6 card-img-after txt-clr-ylw beer-name">{{beers1622[5].description}}</li>
      </ul>
    </div>
  </div>

  <!-- ***************************************** -->
  <!-- END Ticker -->
  <!-- ***************************************** -->

</div>
{% endblock %}
